<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="initials-element">
  <template>
    <style>
      :host {
        display: block;
      }
      .circulo {
        border-radius: 100%;
        background-color:#298c15;
        width: 100px;
        height: 100px;
        display:flex;
        justify-content: center;
        align-items: center;
      }
    </style>
    <div class$="circulo"><slot></slot></div>


  </template>

  <script>
    /**
     * `initials-element`
     * SLOTS
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class InitialsElement extends Polymer.Element {
      static get is() { return 'initials-element'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'initials-element'
          }
        };
      }
    }

    window.customElements.define(InitialsElement.is, InitialsElement);
  </script>
</dom-module>
